@import url('https://fonts.googleapis.com/css2?family=Arima:wght@300&display=swap');

:root {
    --font-family: 'Arima', cursive;
    --primary-color: #000000; 
    --secondary-color: rgba(255, 255, 0, 0.776); 
    /* #5b9a8b; */
    --terciary-color: #445069;
}

body {
    background: var(--primary-color);
    font-family: var(--font-family);
    color: var(--secondary-color);
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px dotted var(--secondary-color);
    padding: 20px;  
    text-align: center;
}



h1 {
    font-size: 4em;
    padding-bottom: 1rem;
}

h2 {
    font-size: 4rem;
    padding-bottom: 1rem;
}

.box {
    border: 2px solid var(--terciary-color);
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
    margin: 20px;
}